version: '3.8'

services:
  web:
    build: .
    container_name: django_web
    restart: always
    depends_on:
      - redis

    volumes:
      - .:/app
      - ./media:/app/media
      - /app/static

    ports:
      - "8000:8000"

    env_file:
      - .env

    environment:
      - DB_HOST=host.docker.internal
      - CHANNELS_REDIS_HOST=redis
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,milanesa.shop,www.milanesa.shop
      - DJANGO_SETTINGS_MODULE=web.settings

    deploy:
      resources:
        limits:
          memory: 4G

    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7-alpine
    container_name: django_redis
    restart: always
    ports:
      - "6379:6379"
